@import "twill/theme.css";
@theme { --tab-size-github: 8; --leading-tight: 1.25; }
@utility tab-* {
  tab-size: --value(integer);
  tab-size: --value(--tab-size-*);
  tab-size: --value([integer]);
}
@utility aspect-* {
  aspect-ratio: --value(ratio, --aspect-*, [ratio]);
  width: --value(number);
}
@utility opacity-* {
  opacity: --value(percentage);
  opacity: --modifier(number);
}
@utility text-* {
  font-size: --value(--text-*);
  line-height: --value(--text-*--line-height);
  line-height: --modifier(--leading-*);
}
@utility lit-* {
  color: --value("red", 'blue');
}
@utility any-* {
  color: --value([*]);
}
@utility dflt-* {
  color: --value(--color-*, --default(red));
}
@utility content-auto { content-visibility: auto; }
@utility foo-1\/2 { color: red; }
@utility scrollbar-hidden {
  &::-webkit-scrollbar { display: none; }
  scrollbar-width: none;
  @media (x) { color: red; }
}
@utility foo { @apply bar p-1; }
@utility bar { color: red; }
@twill utilities;
