@import "twill/theme.css";
.a { @apply flex hover:underline sm:p-2 dark:hover:bg-red-500; }
.b { @apply --my-mixin; }
@apply flex;
.c {
  color: red;
  @variant hover { color: blue; }
  @variant dark:hover, sm { color: green; }
  @variant md { @variant hover { color: pink; } }
}
.d { @apply underline! flex; }
