@import "twill/theme.css";
@utility tab-* {
  tab-size: --value(integer);
  tab-size: --value(--tab-size-*);
  tab-size: --value([integer]);
}
@utility content-auto {
  content-visibility: auto;
}
.btn {
  @apply rounded-lg px-4 py-2 hover:bg-red-500;
}
@twill utilities;
